*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.info{
    color: #fff;
    line-height: 0.5rem;
}


.info h3{
         font-size: 40px;
         font-weight: bold;
         text-transform: capitalize;
         margin: 6rem;
}



.app{
    margin: auto;
      position: relative;
      width: 414px;
      height: 420px;
      display: block;
      text-align: center;
      padding: 40px 0px;
      overflow: hidden;
      border-radius: 45px;
      background-image: linear-gradient(blue, lightblue);
      margin-top: 20px;
    }

    .searchbar{
        display: flex;
        padding: 0px 40px;
        margin-bottom: 30px;
    }

    #searchinput{
        background-color: none;
        border: none;
        outline: none;
        width: 90%;
        border-bottom: solid 1px lightblue;
        height: 25px;
    }


    input::placeholder{
        opacity: 100%;
        text-align: center;
        font-style: italic;
    }

    .searchicon{
           border: none;
           background: transparent;
           color: #fff;
           font-size: 1.5rem;
    }

    .extrainfo{
        position: absolute;
        bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: #fff;   
        padding-bottom: 30px;
     }

     .extrainfo h5{
        text-transform: uppercase;
     }

     p{
        color: white;
     }



